:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --dark: #40513b;
  --primary: #609966;
  --light: #9dc08b;
  --lightest: #edf1d6;

  color: var(--dark);
  background-color: var(--lightest);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  font-size: 1.2em;
  margin: 5px;
}

button {
  cursor: pointer;
  color: var(--lightest);
  background-color: var(--primary);
  padding: 10px 20px;
  font-size: 1.4em;
  border: none;
  border-radius: 10px;
}

.items {
  display: flex;
  gap: 5px;
  margin: 30px 0;
}

.item {
  position: relative;
  cursor: pointer;
  flex: 1;
  background-color: #fff;
  border: 1px solid var(--dark);
  border-radius: 10px;
}

.item > h2 {
  font-size: 3em;
  margin: 10px;
}

.low-price {
  color: red;
  font-size: 0.8em;
  bottom: -20%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.item[data-selected='true'] {
  background: var(--light);
}
